i.green {
  color: green;
}

i.red {
  color: red;
}

table .form-item {
  margin-bottom: 0px;
}

table.compact thead tr th:first-child {
	width: 1%;
}

table.compact tbody tr td:first-child {
	width: 1%;
}

table.min thead tr th:nth-child(2) {
	width: 1%;
}

table.min tbody tr td:nth-child(2) {
	width: 1%;
}

a.blue-link {
	color: blue;
}

span.blue-span {
	color: blue;
}