{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Oups !</h2>
        </header>

        <p>Une erreur inattendue est survenue. Merci de contacter Pierre pour lui en parler.</p>
    </section>
{% endblock %}