{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Oups !</h2>
        </header>

        <p>Vous n'avez pas les autorisations nécéssaires pour accéder à cette page.</p>
    </section>
{% endblock %}