{% set menuLeft = {'items':
    [
        { 'route': 'topicalities', 'label': 'Actualités' },
        { 'route': 'informations', 'label': 'Informations' },
        { 'route': 'requests', 'label': 'Demandes' },
    ]
} %}

{% set menuRight = {'items':
    [
        { 'route': 'usersList', 'label': 'Utilisateurs' },
        { 'route': 'setting', 'label': 'Paramétrage' },
        { 'route': 'account', 'label': 'Profil' },
    ]
} %}

<div class="show-sm">
    <div id="nav-toggle-box">
        <div id="nav-toggle-brand">
			<a href="/">Neopter</a>
    	</div>
        <a href="#" id="nav-toggle" data-component="toggleme" data-target="#top"><i class="kube-menu"></i></a>
    </div>
</div>

<div id="top" class="hide-sm">
    <div id="top-brand">
        <a href="/">Neopter</a>
    </div>
    <nav id="top-nav-main">
        <ul>
            {% for item in menuLeft.items %}
                {% set isActive = false %}
                {% if app.request.attributes.get('_route') == item.route %}
                    {% set isActive = true %}
                {% endif %}

                <li class="{% if isActive %}active{% endif %}">
                    <a href="{{ path(item.route) }}">{{ item.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <nav id="top-nav-extra">
        <ul>
            {% for item in menuRight.items %}
                {% set isActive = false %}
                {% if app.request.attributes.get('_route') == item.route or ('setting' in app.request.attributes.get('_route') and item.route == 'setting')  %}
                    {% set isActive = true %}
                {% endif %}

                {% if item.route != 'setting' or (item.route == 'setting' and is_granted('ROLE_ADMIN')) %}
                    <li class="{% if isActive %}active{% endif %}">
                        <a href="{{ path(item.route) }}">{{ item.label }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
