<div id="sidebar">
    <div class="inner">
        {% block sidebar_menu %}
            {% include 'sidebar/menu.html.twig' %}
        {% endblock %}

        {% block sidebar_footer %}
            {% include 'sidebar/footer.html.twig' %}
        {% endblock %}
    </div>
</div>
