{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Informations personnelles</h2>
        </header>

        <div class="table-wrapper">
            <table>
                <tbody>
                    <tr>
                        <td>Prénom</td>
                        <td>{{ app.user.firstname }}</td>
                    </tr>
                    <tr>
                        <td>Nom</td>
                        <td>{{ app.user.lastname }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <td>Téléphone</td>
                        <td>{{ app.user.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
