{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Modifier son mot de passe</h2>
        </header>

        {% for flash_message in app.session.flashBag.get('notice') %}
          <div class="box">
              <p>{{ flash_message }}</p>
          </div>
        {% endfor %}
        
        {{ form_start(form) }}
            <div class="row uniform">
                <div class="4u 12u$(xsmall)">
                    <label>Nouveau mot de passe</label>
                    {{ form_widget(form.plainPassword) }}
                </div>
            </div>

            <div class="row uniform">
                <div class="12u$">
                    <ul class="actions align-right">
                        <li><input type="submit" value="Enregistrer" class="special" /></li>
                    </ul>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
