{% extends 'base.html.twig' %}

{% block submenu %}
    <nav id="subnav">
        <ul>
            <li><b>Visite</b></li>
            <li><a href="#">Laisser passer</a></li>
    	    <li><a href="#">Remplacement date</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    <div id="main">
        {#
        <div id="hero">
            <h1>.</h1>
        </div>
        #}

        <div id="kube-component" class="content">
            <h3 class="section-head">Demande 1</h3>
            <p>
            Typography of Kube based on the 4px horizontal grid, it means that for the headers, paragraphs, quotes and any other texts chosen are a combination of line-height, that fit into the 4px grid and help set the horizontal rhythm of design by default.
            </p>
            <p>
            Typography of Kube based on the 4px horizontal grid, it means that for the headers, paragraphs, quotes and any other texts chosen are a combination of line-height, that fit into the 4px grid and help set the horizontal rhythm of design by default.
            </p>
            <p>
            Typography of Kube based on the 4px horizontal grid, it means that for the headers, paragraphs, quotes and any other texts chosen are a combination of line-height, that fit into the 4px grid and help set the horizontal rhythm of design by default.
            </p>

            <h3 class="section-head">Demande 2</h3>
            <p>
            Typography of Kube based on the 4px horizontal grid, it means that for the headers, paragraphs, quotes and any other texts chosen are a combination of line-height, that fit into the 4px grid and help set the horizontal rhythm of design by default.
            </p>
            <p>
            Typography of Kube based on the 4px horizontal grid, it means that for the headers, paragraphs, quotes and any other texts chosen are a combination of line-height, that fit into the 4px grid and help set the horizontal rhythm of design by default.
            </p>
            <p>
            Typography of Kube based on the 4px horizontal grid, it means that for the headers, paragraphs, quotes and any other texts chosen are a combination of line-height, that fit into the 4px grid and help set the horizontal rhythm of design by default.
            </p>
        </div>
    </div>
{% endblock %}
