{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <header class="main">
            <h2>Actualités</h2>
        </header>

        <div class="posts">
            <article>
                <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                <h3>Interdum aenean</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">En savoir plus</a></li>
                </ul>
                <p class="align-right"><i>Le 17/08/2017 à 9h47 par <a href="#">Pierre B.</a></i></p>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
                <h3>Nulla amet dolore</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">En savoir plus</a></li>
                </ul>
                <p class="align-right"><i>Le 17/08/2017 à 9h47 par <a href="#">Pierre B.</a></i></p>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
                <h3>Tempus ullamcorper</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">En savoir plus</a></li>
                </ul>
                <p class="align-right"><i>Le 17/08/2017 à 9h47 par <a href="#">Pierre B.</a></i></p>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                <h3>Sed etiam facilis</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">En savoir plus</a></li>
                </ul>
                <p class="align-right"><i>Le 17/08/2017 à 9h47 par <a href="#">Pierre B.</a></i></p>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                <h3>Feugiat lorem aenean</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">En savoir plus</a></li>
                </ul>
                <p class="align-right"><i>Le 17/08/2017 à 9h47 par <a href="#">Pierre B.</a></i></p>
            </article>
            <article>
                <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                <h3>Amet varius aliquam</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="actions">
                    <li><a href="#" class="button">En savoir plus</a></li>
                </ul>
                <p class="align-right"><i>Le 17/08/2017 à 9h47 par <a href="#">Pierre B.</a></i></p>
            </article>
        </div>
    </section>

    <div class="align-center">
        <ul class="pagination">
            <li><span class="button disabled">Précédent</span></li>
            <li><a href="#" class="page active">1</a></li>
            <li><a href="#" class="page">2</a></li>
            <li><a href="#" class="page">3</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#" class="page">8</a></li>
            <li><a href="#" class="page">9</a></li>
            <li><a href="#" class="page">10</a></li>
            <li><a href="#" class="button">Suivant</a></li>
        </ul>
    </div>
{% endblock %}
