{% extends 'base.html.twig' %}

{% block sections %}
    <section>
        <h3>Répartition des rôles</h3>

        <p>Veuillez choisir la date de Cinéscéni à partir de laquelle la répartition des rôles va commencer</p>

        {{ form_start(form) }}
            <div class="row uniform">
                <div class="12u$">
                    <div class="select-wrapper">
                        {{ form_widget(form.cinescenie) }}
                    </div>
                </div>
            </div>

            <div class="row uniform">
                <div class="12u$">
                    <ul class="actions align-right">
                        <li><input type="submit" value="Lancer la répartition des rôles" class="special" /></li>
                    </ul>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}