{% set submenu = {'items':
    [
        { 'route': 'usersList', 'label': 'Liste des utilisateurs' },
        { 'route': 'usersSchedule', 'label': 'Planning' },
        { 'route': 'usersActivityDivision', 'label': 'Répartition des rôles' },
    ]
} %}

<nav id="subnav">
    <ul>
        {% for item in submenu.items %}
            {% set isActive = false %}
            {% if app.request.attributes.get('_route') == item.route %}
                {% set isActive = true %}
            {% endif %}

            <li class="{% if isActive %}active{% endif %}">
                <a href="{{ path(item.route) }}">{{ item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
